/// @param {Style} $position
/// @param {Percentage} $y 
@mixin vertical-align($position: relative, $y: 50%) {
  position: $position;
  top: $y;
  -webkit-transform: translateY(-$y);
  -ms-transform: translateY(-$y);
  transform: translateY(-$y);
}

/// Stroke font-character
/// @param  {Integer} $stroke - Stroke width
/// @param  {Color}   $color  - Stroke color
/// @return {List}            - text-shadow list
@function stroke($stroke, $color) {
  $shadow: ();
  $from: $stroke*-1;
  @for $i from $from through $stroke {
   @for $j from $from through $stroke {
      $shadow: append($shadow, $i*1px $j*1px 0 $color, comma);
    }
  }
  @return $shadow;
}
/// Stroke font-character
/// @param  {Integer} $stroke - Stroke width
/// @param  {Color}   $color  - Stroke color
/// @return {Style}           - text-shadow
@mixin stroke($stroke, $color) {
  text-shadow: stroke($stroke, $color);
}

/// Fade-In Element animation
///  @param {Seconds} $duration
@mixin fade-in($duration: 2s) {
  -webkit-animation: fadein $duration;  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein $duration;     /* Firefox < 16 */
   -ms-animation: fadein $duration;     /* Internet Explorer */
    -o-animation: fadein $duration;     /* Opera < 12.1 */
       animation: fadein $duration;

  @keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }

  /* Firefox < 16 */
  @-moz-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }

  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }

  /* Internet Explorer */
  @-ms-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }
}

/// Fade-Out Element animation
/// @param {Seconds} $duration
@mixin fade-out($duration: 2s) {
  -webkit-animation: fadein $duration;  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein $duration;     /* Firefox < 16 */
   -ms-animation: fadein $duration;     /* Internet Explorer */
    -o-animation: fadein $duration;     /* Opera < 12.1 */
       animation: fadein $duration;
       
  @keyframes fadeOut {
      from { opacity: 1; }
      to   { opacity: 0; }
  }

  /* Firefox < 16 */
  @-moz-keyframes fadeOut {
      from { opacity: 1; }
      to   { opacity: 0; }
  }

  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes fadeOut {
      from { opacity: 1; }
      to   { opacity: 0; }
  }

  /* Internet Explorer */
  @-ms-keyframes fadeOut {
      from { opacity: 1; }
      to   { opacity: 0; }
  }
}

@mixin z-index-1 {
  z-index: 100;
}

@mixin z-index-2 {
  z-index: 200;
}

@mixin z-index-3 {
  z-index: 300;
}

@mixin z-index-4 {
  z-index: 400;
}

@mixin z-index-5 {
  z-index: 500;
}

@mixin z-index-6 {
  z-index: 600;
}

@mixin z-index-7 {
  z-index: 700;
}

@mixin z-index-8 {
  z-index: 800;
}

@mixin z-index-9 {
  z-index: 900;
}

@mixin z-index-10 {
  z-index: 1000;
}