.popup-overlay {
    width: 30%;
    padding: 8px 0;
    position: absolute;
    left: 50%;
    top: 10%;
    text-align: center;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.popup-success {
    @extend .popup-overlay;
    @include fade-in(1s);
    background: #2ecc71;
    color: #0e3d24;
}

.popup-error {
    @extend .popup-overlay;
    @include fade-in(1s);
    background: #ec644b;
    color: #580006;
}

.popup-fadeout {
    @include fade-out(1s);

}