@import 'mixins';
@import 'popup-overlay';
@import 'shopping-cart';

.pure-button-primary {
  color: #111;
  background: rgba(247, 202, 24, 1);
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
  &:hover {
    background: #111;
    color: rgba(247, 202, 24, 1);
  }
}

#viewCart {
  cursor: pointer;
}

#shoppingCartView {
  @include fade-in(1s);
  background: #fefefe;
  position: absolute;
  top: 80px;
  right: 20px;
  width: 25%;
  border: 1px solid #ddd;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  font-family: 'Work Sans', sans-serif;
  font-size: 1em;
}

.cart-view-container {
  background: #fefefe;
  border-top: 1px solid #ddd;
  height: 70px;
}

#cartItem {
 
  height: 70px;
  .pure-g {
    height: 100%;
  }

  .pure-img {
    width: 100px;
    max-width: 100px;
    height: 69px;
  }

  .pure-g [class*="pure-u"] {
    font-family: 'Quicksand', sans-serif;
    height: 100%;
  }

  p {
    width: 95%;
    margin: 0 auto;
    padding-left: 15px;
  }

  p:first-child {
    margin-top: 8px;
  }

  p:nth-child(2) {
    margin-top: -8px;
  }

  p span {
    color: blue;
    text-decoration: none;
    font-size: 0.9em;
    
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

.cart-num-items {
  @include vertical-align;
}

.cart-view-total-container {
  background: #eee;
  width: 100%;
  padding: 10px 10px;
  height: 60px;
  text-align: right;
  span {
    @include vertical-align(relative, 5%);
    font-size: 1.1em;
  }

  .fa-dollar-sign {
    @include vertical-align(relative, 15%);
    font-size: 1.1em;
  }
}

.empty-cart {
  @include vertical-align(relative, 50%);
  color: #444;
  text-align: center;
}

#cartViewTotal {
  margin-right: 20px;
}

#cartViewCheckout {
  @include vertical-align(relative, 40%);
  font-family: 'Work Sans', sans-serif;
  background: rgba(247, 202, 24, 1);
  color: #111;
  padding: 12px 20px;
  &:hover {
    background: #111;
    color: rgba(247, 202, 24, 1);
  }
}

#shoppingCart {
  font-size: 1.4em;
  position: absolute;
  display: inline;
  right: 50px;
  svg {
    color: #fff;
  }
}

.item-container {
  height: 100%;
  h1 {
    font-size: 4em;
    font-family: 'Work Sans', sans-serif;
    font-weight: normal;
  }
}

.item {
  width: 80%;
  margin: 10px auto;
}

.item-thumbnail {
  width: 80%;
}

.item-price-container {
  position: relative;
  font-size: 3.6em;
  font-weight: bold;
  svg {
    font-size: 0.8em;
  }
}

.item-description {
  @include vertical-align();
  font-family: 'Work Sans', sans-serif;
  p {
    margin: 0;
  }
}

.item-controls {
  height: 90%;
}

.item-note {
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
}

.item-qty{
  font-family: 'Quicksand', sans-serif;
  label {
    text-transform: uppercase;
    font-weight: bold;
    padding-right: 10px;
  }
  input[type="number"] {
    width: 70px;
  }
}

.item-footer {
  margin-top: 5%;
}

#addCartItem {
  @include vertical-align(relative, 50%);
}

#cartAddButton {
  background: rgba(247, 202, 24, 1);
  color: #111;
  display: block;
  margin: 2% 0 1%;
  width: 40%;
  font-size: 1.2em;
  padding: 19px 8px;
  text-transform: uppercase;
  font-family: 'Work Sans', sans-serif;
  
  &:hover {
    background: #111;
    color: rgba(247, 202, 24, 1);
  }

  .fa-cart-plus {
    margin-right: 10px;
    transform: scaleX(-1);
  }
}

.cart-icon-container {
  position: relative;
  text-align: center;
  display: block;
  #cartChangeIcon {
    display: none;
    font-weight: bold;
    position: absolute;
    top: 3px;
    left: 22px;
    width: 12px;
    height: 12px;
    font-size: 0.6em;
    color: #fff;
    border-radius: 30px;
    background: rgba(247, 202, 24, 1);
  }
}

.paypal-container {
  height: 100%;
  position: relative;
  h2 {
    @include vertical-align(relative, 42%);
    font-size: 1.8em;
    text-align: center;
    font-family: "Quicksand", sans-serif;
  }

  #paypalButton {
    @include vertical-align(relative, 50%);
  }
}

#paypalButton {
  width: 100%;
}

.shipping-info {
  display: none;
  width: 70%;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.2em;
}

.list-label {
  font-size: 1.5em;
  margin-bottom: 15px;
}

.shipping-info-values {
  list-style: none;
  li:nth-child(n+1) {
    span:first-child {
      font-weight: bold;
      width: 140px;
      margin-right: 40px;
    }

    span {
      display: inline-block;
    }
  }
}

.checkout-container {
  margin: 0 auto;
  width: 90%;
  h1 {
    font-family: "Quicksand", sans-serif;
    margin: 5% 0 0;
  }
}

.cart-item {
  width: 80%;
  margin: 0 auto;
  border-bottom: 1px solid #111;
  margin-top: 20px;
  #paypalButton {
    @include vertical-align;
  }
}

.cart-item:nth-child(n+1) {
  padding: 2% 0;
}

.cart-item-img {
  @include vertical-align(relative, 50%);
}

.cart-item-name {
  @include vertical-align(relative, 5%);
  width: 90%;
  margin: 0 auto;
  font-family: "Quicksand", sans-serif;
  font-size: 2em;
}

.cart-item-qty {
  @include vertical-align(relative, 60%);
  font-size: 1.1em;
}

.address-form {
  width: 70%;
  margin: 0 0 5%;
  legend {
    font-size: 1.3em;
    font-family: 'Work Sans', sans-serif;
  }
  button {
    padding: .5em 1.5em;
    font-size: 1.2em;
    margin-top: 10px;
  }
}

.cart-totals {
  width: 90%;
}

.cart-totals-lists {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.2em;
  list-style: none;
  li {
    text-align: right;
  }
}

.cart-subtotal-values {
  width: 100px;
  display: inline-block;
}

.checkout-total {
  font-weight: bold;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 30px;
  font-family: 'Quicksand', sans-serif;

}

.checkout-total-title {
  display: inline-block;
  margin-right: 20px;
}

.confirm-button {
  text-align: right;
  margin-bottom: 5%;
  position: absolute;
  bottom: 0;
  right: 0;
}

#confirmPayment {
  font-size: 1.2em;
  padding: 1em 1.5em;
  background: rgba(247, 202, 24, 1);
  color: #111;
}

#thankyouMsg {
  @include vertical-align(relative, 35%);
  font-size: 1.2em;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  a {
    background: rgba(247, 202, 24, 1);
    color: #111;
    &:hover {
      color: rgba(247, 202, 24, 1);
      background: #111;
    }
  }
}

.pure-form-stacked {
  font-family: 'Work Sans', sans-serif;
  input[type=text] {
    width: 90%;
  }

  input[type=email] {
    width: 90%;
  }

  select {
    width: 90%;
  }
}

.edit-cart-item-container {
  text-align: right;
  margin-top: 10px;
  margin-right: 25px;
}

#inputItemQty {
  width: 40%;
}

.edit-cart-item {
  width: 50%;
  display: none;
}