html {
  font-family: 'Inter UI', sans-serif;
  height: 100%;
  line-height: 2; }

body {
  width: 100%;
  height: 100%; }

#container {
  position: relative;
  width: 100%;
  height: 100%; }

blockquote {
  padding: 0;
  margin: 0; }

* {
  box-sizing: border-box; }

*:before,
*:after {
  box-sizing: border-box; }

#hotlineNum {
  font-family: 'Quicksand', sans-serif;
  background: #2c82c9;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 0;
  color: #fff; }

#emailNum {
  font-family: 'Quicksand', sans-serif;
  background: #2c82c9;
  padding: 10px;
  position: absolute;
  right: 235px;
  top: 0; }
  #emailNum a {
    text-decoration: none;
    color: #fff; }

#nav {
  position: absolute;
  left: 15px;
  top: 12px; }

.no-img {
  background: #000;
  padding: 12px 15px;
  width: 100%;
  position: relative !important; 
  top: 0 !important;
  left: 0 !important;
}

.menu {
  padding: 0;
  margin: 0; }

.menu-item {
  margin-right: 20px;
  display: inline-block; }

.menu-link {
  color: #fff;
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
  font-size: 1.2em;
  border-bottom: 3px solid rgba(0, 0, 0, 0); }
  .menu-link img {
    width: 100px; }
  .menu-link:hover, .menu-link:active {
    border-bottom-color: #fff; }

#homeHeader {
  background: url("../img/trunk-blocks.jpg") center center fixed;
  background-size: cover;
  height: 100%;
  width: 100%; }

.bg-overlay {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%; }

#headerLogo {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 60%;
  height: 60%;
  display: block;
  margin: auto; }
  @media (max-width: 1100px) {
    #headerLogo {
      width: 90%;
      height: 90%; } }

.header {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  font-size: 2em; }
  .header h1 {
    margin-top: 0.7em;
    margin-bottom: 0.5em; }
    @media (max-width: 1100px) {
      .header h1 {
        font-size: 1.4em; } }
    @media (max-width: 767px) {
      .header h1 {
        font-size: 1.2em; } }

#content {
  min-height: 100vh;
  padding: 2% 0; }

.section-header {
  text-align: center;
  font-size: 1.6em;
  font-weight: bold;
  font-family: 'Quicksand', sans-serif; }
  @media (max-width: 1100px) {
    .section-header {
      font-size: 1.4em; } }

.content-section {
  font-family: 'Work Sans', sans-serif;
  padding-bottom: 10px; }
  .content-section p {
    width: 70%;
    margin: 20px auto; }
    @media (max-width: 1100px) {
      .content-section p {
        width: 90%; } }

.video-container {
  width: 70%;
  margin: 20px auto;
  text-align: center; }
  .video-container video {
    width: 95%;
    margin: 0 auto; }
  @media (max-width: 1100px) {
    .video-container {
      width: 100%;
      margin: 0; }
      .video-container video {
        width: 100%;
        margin: 0; } }

.img-container {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 20px;
  text-align: center; }
  .img-container img {
    margin: 0 auto;
    display: block;
    width: 100%; }
  @media (max-width: 1100px) {
    .img-container {
      width: 100%; }
      .img-container img {
        width: 100%;
        margin: 0; } }

.gallery-current-img {
  position: relative;
  margin-bottom: 20px; }

.gallery-arrow-container {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 100;
  width: 75px;
  height: 75px;
  background: rgba(0, 0, 0, 0.7);
  position: absolute; }
  .gallery-arrow-container:hover, .gallery-arrow-container:active {
    cursor: pointer; }
    .gallery-arrow-container:hover svg, .gallery-arrow-container:active svg {
      color: #19b5fe; }
  .gallery-arrow-container svg {
    font-size: 1.4em;
    color: #fff;
    position: relative;
    top: 45%;
    -webkit-transform: translateY(-45%);
    -ms-transform: translateY(-45%);
    transform: translateY(-45%); }

.gallery-arrow-container:hover svg {
  color: #19b5fe; }

.gallery-arrow-container:active svg {
  color: #19b5fe; }

#leftImgArrow {
  left: 25px; }
  @media (max-width: 767px) {
    #leftImgArrow {
      left: 0px; } }

#rightImgArrow {
  right: 25px; }
  @media (max-width: 767px) {
    #rightImgArrow {
      right: 0px; } }

#imgGallery {
  width: 95%;
  margin: 0 auto; }
  @media (max-width: 1100px) {
    #imgGallery {
      display: none; } }

.img-media {
  position: relative; }
  .img-media img {
    position: relative;
    width: 90%;
    border: 5px solid transparent; }
    .img-media img:hover {
      cursor: pointer;
      border: 5px solid #19b5fe; }

.selected-img {
  border: 5px solid #19b5fe !important; }

.testimonial {
  width: 70%;
  margin: 0 auto; }
  .testimonial .pure-u-1-5 {
    text-align: center; }
    .testimonial .pure-u-1-5 img {
      -webkit-box-shadow: 0px -1px 12px 0px rgba(50, 50, 50, 0.75);
      -moz-box-shadow: 0px -1px 12px 0px rgba(50, 50, 50, 0.75);
      box-shadow: 0px -1px 12px 0px rgba(50, 50, 50, 0.75);
      border: 10px solid #fff; }
  .testimonial .pure-g [class*="pure-u"] {
    font-family: 'Work Sans', sans-serif; }
  .testimonial .pure-g {
    margin: 0 0 4% 0; }
  .testimonial .video-container {
    width: 100%; }
  @media (max-width: 1100px) {
    .testimonial {
      width: 90%; } }

.test-quote {
  padding: 0;
  text-align: left; }

.test-description-left {
  text-align: right; }

.test-name {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.2em;
  font-weight: bold; }

.test-tagline {
  font-style: italic; }

#footer {
  font-family: 'Quicksand', sans-serif;
  padding: 2% 20px;
  color: #fff;
  background: #080808; }
  #footer h2 {
    margin: 0;
    font-weight: normal;
    font-family: 'Work Sans', sans-serif; }
  #footer .pure-g [class*="pure-u"] {
    font-family: 'Quicksand', sans-serif; }
  #footer .pure-u-1 {
    text-align: center; }
  #footer .pure-u-1-3:nth-child(2) {
    text-align: center; }
    #footer .pure-u-1-3:nth-child(2) p {
      font-size: 1em;
      position: relative;
      top: 40%;
      -webkit-transform: translateY(-40%);
      -ms-transform: translateY(-40%);
      transform: translateY(-40%); }
  #footer .content-section:last-child {
    padding-bottom: 5%; }

#socialMedia {
  padding: 0;
  list-style: none; }

.social-brand a {
  color: #fff;
  text-decoration: none; }
  .social-brand a:hover {
    color: #f7ca18; }
